body{
    font-family: 'Merriweather Sans', sans-serif;
}
.head {
    display: flex;
    align-items: center;
    color: rgb(87, 90, 92);
}
#home{
    margin-left: 40%;
}
.name{
    font-size: 40px;
    font-weight: 900;
    margin-left: 200px;
}
p{
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}
.fas{
    font-size: 30px;
    margin-left: 30px;
}
/* first-part */
section{
    display: flex;
    margin-bottom: 10px;
    color: rgb(87, 90, 92);
}
.welcome{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size:40px;
    font-weight:800px ;
    margin-left: 80px;
}
.para{
    margin-left:80px ;
}
.first{
    width: 40%;
    font-size: 20px;
    margin-left: 50px;
    padding-top: 5%;
    text-align: justify;
}
.first img{
    width: 60%;
    padding-left: 40%;
    height:414px ;
    width:440;
}
.button{
    color: white;
    background-color: tomato;
    margin-left: 80px;
    padding: 10px 20px;
    border-radius: 25px;
    width:25%;
}
