body{
    font-family: 'Merriweather Sans', sans-serif;
}
.head {
    display: flex;
    align-items: center;
    color: rgb(87, 90, 92);
}
.head a{
    color:rgb(87, 90, 92) ;
    text-decoration: none;
}
#home{
    margin-left: 40%;
}
.name{
    font-size: 40px;
    font-weight: 900;
    margin-left: 200px;
}
a{
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}
/* first-part */
.part1{
    display: flex;
    margin-bottom: 10px;
    color: rgb(87, 90, 92);
}
.welcome{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size:40px;
    font-weight:900;
    margin-left: 80px;
}
.para{
    margin-left:80px ;
}
.first{
    width: 40%;
    font-size: 20px;
    margin-left: 50px;
    padding-top: 5%;
}
.first img{
    width: 60%;
    padding-left: 40%;
    height:414px ;
    width:440;
}
.preebook{
    color: white;
    background-color: #E02C6D;
    margin-left: 80px;
    padding: 12px 20px;
    border-radius: 25px;
    width:22%;
}
.preebook .fas{
    font-size: 18px;
    margin-left: 5px;
}
/* secound part */
.container{
    display: flex;
    justify-content: center;
}
.products-list{
   width: 1070px;
   padding-left:35px;
   border-radius: 10px;
   background-color: rgb(233, 229, 248);
}
.title p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}
.main-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
}
.list{
    width:310px;
    background-color: whitesmoke;
    border-radius:10px;
    margin-top: 35px;
    padding-left:10px;
    padding-top:10px;
    box-shadow: 10px 10px 20px rgb(209, 181, 209);
}
.fa-star.filled{
    color: rgb(255, 174, 0);
    font-size: 15px;
    margin-left: 0;
}
.fa-star.empty{
    color: rgb(124, 115, 115);
    font-size: 15px;
    margin-left:0 ;
}
.icon span{
    margin-left: 10px;
}
.list img{
    width: 300px;
    height: 256px;
}
.see{
    font-size: 20px;
    color: #E02C6D;
    margin-left: 85%;  
} 
.see .fas{
    font-size: 18px;
    margin-left: 5px;
}
/* my-gadgets */
.my-gadget{
    display: flex;
}
.fature{
    width: 50%;
}
.my-gadget img{
    width: 50%;
    width: 550px;
    height: 350px;
    padding-left: 200px;
    padding-top: 10%;
    padding-bottom: 10%;
}
.book{
    font-size: 40px;
    font-weight: 900;
    margin-top: 100px;
    padding-left: 5%; 
}
.book1{
    padding-left: 5%;  
    padding-right: 15%;
}
.order{
    color: white;
    background-color: #E02C6D;
    margin-left: 50px;
    padding: 12px 20px;
    border-radius: 25px;
    width:10%;
}
.order .fas{
    font-size: 18px;
    margin-left: 5px;
}
/* footer */
footer{
    padding: 1%;
    background-color: rgb(17, 17, 66);
    color: white;
    text-align: center;
}
.foot-head p{
    font-size: 30px;
    font-weight: 900;
}
.fab{
margin-left: 10px;
font-size: 20px;
}


